{{ with .forkbutton }}
  <a href="{{ .repository }}" class="github-link" target="_blank">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub">
  </a>
{{ end }}

<header class="newheader">
  <span style="text-align:center">
  <div id="header-live-background">
  <div class="wrapper" style="padding:100px 0 0 0">
    <h1 class="logo-name">
      <a class="logo-link" href="#" title="{{ .name }}" itemprop="name">{{ .name }}</a>
      <a class="logo-link" href="#" title="{{ .year }}" itemprop="name">{{ .year }}</a>
    </h1>
    <h2 class="header-subtitle">{{ .description | safeHTML }} </h2>
    <h2 class="tagline">{{ .date }}, {{ .city }}, {{ .country }}</h2>
    <br>
    <br>

    <div class="call-action-area">
      {{ with .price }}
        <span class="price">{{ . }}</span>
      {{ end }}

      {{ with .calltoaction }}
        <a href="{{ .link }}" class="call-action-link" target="_blank" title="{{ .text }}">{{ .text }}</a>
      {{ end }}
    </div>
    <div id="logo"><img src="img/nativeni_logo.png"/></div>
  </div>
  </div>
  <span>
</header>

<hr>
