// $maincolor: 0x2f005f;

.newheader {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

section {
    font-family: "Barlow", sans-serif;
    font-size: 10pt;
    text-align: justify;
}

.content section{
    padding-top: 50px;
}

.content:last-child {
    margin-bottom: 150px;
}

strong {
    font-family: sans-serif;
    color: #5402a7;
}

section p {
    margin-top: 0.7em;
    margin-bottom: 0;
}

section h1,h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30pt;
    padding: 0px 0px 15px 0px;
    color: #5402a7;
}

section h3,h4 {
    font-family: "Bebas Neue", sans-serif;
    padding: none;
    font-size: 20pt
}

nav {
    padding: 0;
}

.nav-link {
    font-size:1em;
    font-family: "Bebas Neue", sans-serif;
}

h2.header-subtitle {
    font-family: "Playfair Display", sans-serif;
    color: white;
    font-size: 14pt;
}

section ul {
    margin-left: 4em;
}

ul li {
    font-size: 15pt;
    list-style: square;
    line-height: 1.7em;
    text-align: left;
}

hr.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #e3e3e3;
  margin: 4em 2em;
  padding: 0;
  margin: 3em 2em 0em 2em;
}

section table {
    width: 60%;
    margin: auto;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}


section td {
     border: none;
}

section table tr {
    line-height: 1.7em;
    font-size: 15pt;
}

section table td {
    // white-space: nowrap;
    padding: 0pt 0px 0px 0px;
    padding-left: 40px;
    border-bottom: solid 1px lightgray;
}

section table tr:last-child > td {
    border-bottom: none;
}

.content a {
    color: #5402a7;
    text-decoration: underline;
}

.content a:hover{
    color: #5402a7;
    text-decoration: none;
}

p code {
    background-color: #e7e7e7;
    color: #d200ffc2;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    margin-top: 0.5em;
}

pre code {
    background-color: #e7e7e7;
    color: #d200ffc2;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.4em;
    line-height: 1em;
}



@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/*
  .about {
    margin: 0;
  }
*/
}


/*
@media only screen and (min-width: 320px) and (max-width: 800px) {
  .schedule-tbl {
    padding: 1px;
  }
  .schedule-tbl td,
  .schedule-tbl th {
    padding: 10px;
  }
  .schedule-tbl th {
    padding: 10px;
    font-size: 1.8em;
  }
  .schedule-tbl .speaker-photo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .schedule-tbl .schedule-slot {
    width: 120px;
  }
  .schedule-tbl td.schedule-slot {
    font-size: 14px;
    line-height: 1.2em;
  }
  .schedule-tbl .schedule-time {
    width: 60px;
    padding: 10px 0 10px 5px;
    text-align: left;
  }
  .schedule-tbl td.schedule-description {
    font-size: 12px;
  }

  /// partners 
  .sponsor-item,
  .partner-item {
    margin: 0 5px 10px 0;
  }
  .sponsor--link,
  .partner-link {
    width: 95px;
    height: 95px;
    line-height: 95px;
  }

  // contact 
  .control-group-name,
  .control-group-email {
    clear: both;
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .form .btn {
    margin-bottom: 50px;
  }
}
*/


@media only screen and (max-width: 480px) {
  /*
  nav {
    display: none;
  }
  */
  .header {
    padding: 20px 0;
  }
  .logo-name {
    font-size: 4em;
  }
  .tagline {
    margin-bottom: 15px;
    font-size: 1.4em;
  }
  .call-action-area .price {
    font-size: 2em;
    margin: 0 0 15px;
    display: block;
  }
  .call-action-area .call-action-link,
  .btn {
    top: 0;
  }
  h2,
  h3,
  h4 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.4em;
  }

  // content 
  .content {
    padding: 0;
  }
  .content section {
    padding-top: 50px;
  }

  // speakers 
  .speakers-item {
    min-height: 70px;
    padding-left: 70px;
  }
  .speaker-photo {
    width: 50px;
    height: 50px;
  }
  .speech-title {
    padding-top: 0;
    font-size: 16px;
    margin-bottom: .3em;
  }
  .speech-time {
    font-size: 16px;
    padding: 0;
  }
  .speakers-bio {
    display: none;
  }
}


@media only screen and (max-width: 321px) {
  .logo-name {
    font-size: 4em;
    margin-bottom: .4em;
  }
  .schedule-tbl .schedule-description {
    display: none;
  }
  .schedule-tbl .schedule-slot {
    width: auto;
  }

  // partners 
  .sponsor-item,
  .partner-item {
    margin: 0 12px 15px 0;
  }
  .sponsor--link,
  .partner-link {
    width: 115px;
    height: 115px;
    line-height: 115px;
  }
}

