<h3>Keynote Speakers</h3>


{{ range $.Site.Data.program.keynotes }}
    <div class="speaker">
        <img src="img/{{ .speaker.picture }}"/>
        <table>
            <tr><td><span class="speaker-name">{{ .speaker.name }}</span></td><tr>
            <tr><td><span class="speaker-jobtitle">{{ .speaker.jobtitle }}</span></td></tr>
            <tr><td><span class="speaker-affiliation">{{ .speaker.affiliation }}</span></td></tr>
            <tr><td><a href="{{ .speaker.homepage }}" class="speaker-homepage">website</a></td></tr>
        </table>
    </div>
{{ end }}
