// $maincolor: 0x2f005f;

.newheader {
    padding: 30px 0px 0px 0px;
    text-align: center;
}

section {
    font-family: "Barlow", sans-serif;
    font-size: 10pt;
    text-align: justify;
}

.content section{
    padding-top: 50px;
}

.content:last-child {
    margin-bottom: 150px;
}

strong {
    font-family: sans-serif;
    color: #5402a7;
}

section p {
    margin-top: 0.7em;
    margin-bottom: 0;
}

section h1,h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30pt;
    padding: 0px 0px 15px 0px;
    color: #5402a7;
}

section h3,h4 {
    font-family: "Bebas Neue", sans-serif;
    padding: none;
    font-size: 20pt
}

nav {
    padding: 0;
}

.nav-link {
    font-size:1em;
    font-family: "Bebas Neue", sans-serif;
}

h2.header-subtitle {
    font-family: "Playfair Display", sans-serif;
    color: white;
    font-size: 14pt;
}

section ul {
    margin-left: 4em;
}

ul li {
    font-size: 15pt;
    list-style: square;
    line-height: 1.7em;
    text-align: left;
}

hr.separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #e3e3e3;
  margin: 4em 2em;
  padding: 0;
  margin: 3em 2em 0em 2em;
}

section table {
    width: 70%;
    margin: auto;
    margin-bottom: 1.5em;
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}


section td {
     border: none;
}

section table tr {
    line-height: 1.7em;
    font-size: 15pt;
}

section table td {
    // white-space: nowrap;
    padding: 0pt 0px 0px 0px;
    padding-left: 20px;
    padding-right: 10px;
    border-bottom: solid 1px lightgray;
}

section table tr:last-child > td {
    border-bottom: none;
}

.content a {
    color: #5402a7;
    text-decoration: underline;
}

.content a:hover{
    color: #5402a7;
    text-decoration: none;
}

p code {
    background-color: #e7e7e7;
    color: #d200ffc2;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    margin-top: 0.5em;
}

pre code {
    background-color: #e7e7e7;
    color: #d200ffc2;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.4em;
    line-height: 1em;
}


del {
    text-decoration: line-through;
    color: #ccc;
}

div.speaker {
    margin: 0px 100px;
    padding-bottom: 10px;
}

div.speaker img{
  border-radius: 50%;
  width:150px;
  vertical-align: middle;
}

div.speaker table {
    display: inline;
    border: none;
}

div.speaker table td {
    border: none;
    line-height: 1em;
}

div.speaker span.speaker-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18pt;
    padding: 0px 0px 15px 0px;
    color: #5402a7;
}

div.speaker-name, span.speaker-jobtitle, span.speaker-affiliation, a.speaker-homepage{
    font-size: 0.8em;
    line-height: 1em;
}

div.agenda {
    width: 93%;
    margin: auto;
}

div.agenda p{
    line-height: 1em;
}

div.agenda .duration {
    padding: 2px 0.2em;
    background-color: #d8d8d8;
    border-radius: 6px;
    font-family: "Bebas Neue", sans-serif;
    color: gray;
    font-size: 0.8em;
}

div.agenda .title {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.1em;
}

div.agenda .speaker-name {
    color: #5402a7;
}

p.schedule-info {
    margin-left: 1em;
}

p.paper-details {
    margin: 5px 0px 5px 1em;
}

p.keynote-details {
    font-size: 1.1em;
}

.paper-title {
    font-weight: bold;
}

.keynote-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.paper-authors {
    font-size: 0.7em;
    line-height: 0.7em;
    color: dimgray;
}

.paper-button {
    font-size: 0.6em;
    border-radius:6px;
    border: solid 2px #5402a7;
    padding: 3px;
    margin-top: 5px;
    color: #5402a7;
}

.paper-button:hover {
    background-color: #5402a7;
    color: white;
    cursor: pointer;
    border: solid 2px white;
}

// dummy
.paper-abstract-button {
}

.paper-abstract-description {
    margin-left: 1em;
    border: solid 2px lightgray;
    border-radius:6px;
    padding: 10px;
    font-size: 1em;
    background-color: #f2f2f2;
    font-style: italic;
    text-align: left;
    display: none;
}

.keynote-abstract {
    font-size: 0.9em;
    text-align: left;
    display: block;
    padding-left: 8px;
    font-style: italic;
}

.keynote-bio {
    font-size: 0.9em;
    text-align: left;
    display: block;
    padding-left: 8px;
    //font-style: italic;
}

.keynote-label{
    font-family: "Bebas Neue", sans-serif;
    font-style: none;
    display: block;
    padding-top: 8px;
}

#logo {
    width: 130px;
    height: 130px;
    //padding: 40px 2px 2px 2px;
    display: inline-block;
    position: absolute;
    left: 45.5%;
    top: 85%;
    background-color: white;
    border-radius: 130px;
    //-webkit-transition: opacity $transition_speed ease-in-out;
    //-moz-transition: opacity $transition_speed ease-in-out;
    //transition: opacity $transition_speed ease-in-out;
    //visibility: visible;
    //overflow:visible;
}

#logo img {
    width: 100px;
    padding-left: 5px;
    padding-top: 15px;
}

p.sponsors {
    text-align: center;
}

img.sponsor {
    max-width: 100%;
    height: 150px;
}


@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

/*
    section table td {
        font-size: 1em;
    }

  .about {
    margin: 0;
  }
*/
}


/*
@media only screen and (min-width: 320px) and (max-width: 800px) {
  .schedule-tbl {
    padding: 1px;
  }
  .schedule-tbl td,
  .schedule-tbl th {
    padding: 10px;
  }
  .schedule-tbl th {
    padding: 10px;
    font-size: 1.8em;
  }
  .schedule-tbl .speaker-photo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
  .schedule-tbl .schedule-slot {
    width: 120px;
  }
  .schedule-tbl td.schedule-slot {
    font-size: 14px;
    line-height: 1.2em;
  }
  .schedule-tbl .schedule-time {
    width: 60px;
    padding: 10px 0 10px 5px;
    text-align: left;
  }
  .schedule-tbl td.schedule-description {
    font-size: 12px;
  }

  /// partners 
  .sponsor-item,
  .partner-item {
    margin: 0 5px 10px 0;
  }
  .sponsor--link,
  .partner-link {
    width: 95px;
    height: 95px;
    line-height: 95px;
  }

  // contact 
  .control-group-name,
  .control-group-email {
    clear: both;
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .form .btn {
    margin-bottom: 50px;
  }
}
*/


@media only screen and (max-width: 480px) {
  /*
  nav {
    display: none;
  }
  */
  .header {
    padding: 20px 0;
  }
  .logo-name {
    font-size: 4em;
  }
  .tagline {
    margin-bottom: 15px;
    font-size: 1.4em;
  }
  .call-action-area .price {
    font-size: 2em;
    margin: 0 0 15px;
    display: block;
  }
  .call-action-area .call-action-link,
  .btn {
    top: 0;
  }
  h2,
  h3,
  h4 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.8em;
  }
  p {
    font-size: 1.4em;
  }

  // content 
  .content {
    padding: 0;
  }
  .content section {
    padding-top: 50px;
  }

  // speakers 
  .speakers-item {
    min-height: 70px;
    padding-left: 70px;
  }
  .speaker-photo {
    width: 50px;
    height: 50px;
  }
  .speech-title {
    padding-top: 0;
    font-size: 16px;
    margin-bottom: .3em;
  }
  .speech-time {
    font-size: 16px;
    padding: 0;
  }
  .speakers-bio {
    display: none;
  }

  section table {
      width: 90%;
      margin-bottom: 1em;
  }

    section table td {
        font-size: 0.9em;
        padding-left: 5px;
        padding-right: 5px;
    }

    div.speaker {
        margin: 0px 10px;
        padding-bottom: 10px;
    }

    div.speaker img{
        display:none;
    }

    #logo {
        left: 35.5%;
    }
}


@media only screen and (max-width: 321px) {
  .logo-name {
    font-size: 4em;
    margin-bottom: .4em;
  }
  .schedule-tbl .schedule-description {
    display: none;
  }
  .schedule-tbl .schedule-slot {
    width: auto;
  }

  // partners 
  .sponsor-item,
  .partner-item {
    margin: 0 12px 15px 0;
  }
  .sponsor--link,
  .partner-link {
    width: 115px;
    height: 115px;
    line-height: 115px;
  }

  section table {
      width:90%;
      margin-bottom: 1.5em;
  }

    section table td {
        font-size: 0.9em;
        padding-left: 5px;
        padding-right: 5px;
    }

    #logo {
        left: 35.5%;
    }
}

